{% extends "index.html" %}

{% block content %}
<form method="POST" >
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-center text-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form-outline">
        <input type="text" name="inputName" id="inputName" class="form-control" />
        <label class="form-label" for="inputName">Enter your name</label>
        </div>
    <button type="submit" class="w-100 mt-2 btn btn-primary">Enter chat</button>
</form>
{% endblock %}